.container {
  margin: 4rem auto 0;
  max-width: 736px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createTasks{
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: .5rem;
  font-weight: 700;
  color: var(--blue)
}

.createTasks > span {
  background: var(--gray-400);
  width: 1.563rem;
  height: 1.188rem;
  border-radius: 100%;
  text-align: center;
  color: var(--gray-200)
}

.doneTasks{
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: .5rem;
  font-weight: 700;
  color: var(--purple)
}

.doneTaskCount {
  background: var(--gray-400);
  text-align: center;
  color: var(--gray-200);
  padding: .124rem .5rem;
  display: block;
  border-radius: 999px
}

.createTasksCount {
  background: var(--gray-400);
  width: 1.563rem;
  height: 1.188rem;
  border-radius: 100%;
  text-align: center;
  color: var(--gray-200);
  display: block;
}



